.banner {
  /* background: url(""); */

  background-image: url("https://connect-assets.prosple.com/cdn/ff/mPo4ez0v5hrH_fVdkUUvyGvXttXoYjo6krpOYKbTfmI/1567121991/public/styles/scale_890_no_upsize/public/2019-08/feature-article-how-to-study-effectively-at-uni-838x484-2019.png?itok=4yLjlYah");
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  width: 100%;
  position: relative;
}
.banner-txt {
  position: absolute;
  left: 100px;
  top: 400px;
  color: white;
  font-size: 50px;
  font-weight: 700;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 10px;
  height: auto;
  text-align: center;
}
.see-more-container {
  height: 200px;
  text-align: center;
  width: 100%;
}
